<ion-header>
  <ion-toolbar>
    <ion-title>
      Encrypt Messenger
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Disabled and readonly textarea in an item with a stacked label -->
  <ion-item>
    <ion-label position="stacked">Input</ion-label>
    <ion-textarea [(ngModel)]="encrypt.input" name="encrypt.input">
    </ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" >Output</ion-label>
    <ion-textarea [(ngModel)]="encrypt.output" name="encrypt.output">
    </ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Key</ion-label>
    <ion-input [(ngModel)]="encrypt.key">
      
    </ion-input>
  </ion-item>
  <br>

  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="encryptString()">Encrypt</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button color="secondary" (click)="decryptString()" expand="block">Decrypt</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button *ngIf="showbtnShared" color="success" (click)="shareWhatApp()" expand="block">Shared WhatApp</ion-button>
    </ion-col>
  </ion-row>

  
  <!-- <ion-button block></ion-button> -->

</ion-content>
